main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7rem;

  .summary {
    width: 27rem;
    margin: 1rem;
    & h1 {
      display: inline;
      color: var(--accentColor);
    }
  }

  .skillsContainer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;

    .skills {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;

      & span {
        margin: 0.5rem;
        justify-content: space-between;
        padding: 1rem;
      }
    }
  }
}

.glow {
  background-color: var(--accentTransparentColor);
  box-shadow: inset 0px 0px 10px 10px var(--backgroundColor);
}
