nav {
  display: flex;
  justify-content: right;
  align-items: center;
  color: var(--accentColor);
  background-color: #2a2a2a;

  & button {
    margin: 1rem;
  }

  @media (orientation: landscape) {
    & button:last-child {
      margin-right: 4rem;
    }
  }

  @media screen and (orientation: portrait) {
    justify-content: center;
  }
}
