:root {
  --textColor: #ffffff;
  --backgroundColor: #232323;
  --accentColor: #8d4ee0;
  --accentTransparentColor: #8d4ee030;

  .button {
    border: none;
    background-color: transparent;
    color: var(--accentColor);
    font-size: large;
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: var(--accentColor);
      color: var(--textColor);
    }

    &:active {
      border: dotted var(--accentColor);
    }
  }
}

* {
  font-family: "Inter", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
